.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  animation-direction: alternate;
  height: 80px;
  margin-top: 50px;
}

.App-header {
  background-color: #222;
  height: 190px;
  padding: 0px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav {
  font-family: monospace;
  background: grey;
}

.jumbo {
  background-color: #33FFDD;
  height: 500px;
}

.header {
  height: 50px;
  margin-top: 50px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
