.contentbackground{
  background-image: url("galaxy.jpg");
  background-size: 1000px;
  background-repeat:no-repeat;
  background-position: center;
  color: white;
  margin-top: 50px;
  text-align: center;
  background-color: black;
}
